      <footer class="py-5 bg-dark footer">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; CYON Regina-Mundi 2018</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>