<% include ./partials/header %>

<div class="ui padded container segment">
  <div class="ui big vertical list">
    <li class="item">
      <div class="content">
      <h3 class="header committee-name">End Of Year Party</h3>
      <div class="ui small segment">
        <div class="ui list">
        <div class="item committee-property">
          <div class="ui two column stackable grid">
            <div class="three wide column header property-name">Purpose:</div>
            <div class="thirteen wide column property-value">Organising the activities that will take place in the youth EOY party for 2019</div>
          </div>
        </div>
        <div class="item committee-property">
          <div class="ui two column stackable grid">
            <div class="three wide column header property-name">Start Date:</div>
            <div class="thirteen wide column property-value">January 1st, 2019</div>
          </div>
        </div>
        <div class="item committee-property">
          <div class="ui two column stackable grid">
            <div class="three wide column header property-name">Chairman:</div>
            <div class="thirteen wide column property-value">Ugochukwu Johnson</div>
          </div>
        </div>
        <div class="item committee-property">
          <div class="ui two column stackable grid">
            <div class="three wide column header property-name">Members:</div>
            <div class="thirteen wide column property-value">Ikhanoba Sunny-Star,<br> Hilary Okala,<br> Arinze Ezebuike,<br> Emmanuel Odimgbe</div>
          </div>
        </div>
        <div>
      </div>
      </div>
    </li>

    <li class="item">
      <div class="content">
      <h3 class="header committee-name">Singles Summit</h3>
      <div class="ui small segment">
        <div class="ui list">
          <div class="item committee-property">
            <div class="ui two column stackable grid">
              <div class="three wide column header property-name">Purpose:</div>
              <div class="thirteen wide column property-value">To prepare today's youth for the ups and downs of married life</div>
            </div>
          </div>
          <div class="item committee-property">
            <div class="ui two column stackable grid">
              <div class="three wide column header property-name">Start Date:</div>
              <div class="thirteen wide column property-value">January 1st, 2019</div>
            </div>
          </div>
          <div class="item committee-property">
            <div class="ui two column stackable grid">
              <div class="three wide column header property-name">Chairman:</div>
              <div class="thirteen wide column property-value">Umeh Jovita</div>
            </div>
          </div>
          <div class="item committee-property">
            <div class="ui two column stackable grid">
              <div class="three wide column header property-name">Members:</div>
              <div class="thirteen wide column property-value">Ikhanoba Sunny-Star, Hilary Okala, Arinze Ezebuike, Emmanuel Odimgbe</div>
            </div>
          </div>
        <div>
      </div>
      </div>
    </li>
    
  </div>
  
</div>

<link rel='stylesheet' type='text/css' href='stylesheets/committees.css'>
<% include ./partials/footer %>