<% include ./partials/header %>
<div class="login register">
    <div class="ui raised segment">
        <form class="ui form login" action="/login" method="POST">
            <h2 class="form-title">Sign In</h2>
            <div class="field">
                <label>Username</label>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="field">
                <label>Password</label>
                <input type="password" name="password" placeholder="Password">
            </div>
            <input class="ui button login" type="submit" value="Login">
        </form>
    </div>
</div>


<% include ./partials/footer %>