<% include ./partials/header %>

<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Meet The Executives
</h2>

<!-- President & Vice -->
<div class='ui centered cards' style='margin: 20px'>
  <div class="ui card" style='margin: 20px'>
    <div class="image">
      <img src="http://via.placeholder.com/290x290">
    </div>
    <div class="content">
      <a class="header">Elyse</a>
      <div class="meta">President</div>
    </div>
    <div class="ui large teal bottom attached button">
      <i class="user icon"></i>
      View Profile
    </div>
  </div>
  
  <div class="ui card" style='margin: 20px'>
    <div class="image">
      <img src="http://via.placeholder.com/290x290">
    </div>
    <div class="content">
      <a class="header">Samuel</a>
      <div class="meta">Vice President</div>
    </div>
    <div class="ui large teal bottom attached button">
      <i class="user icon"></i>
      View Profile
    </div>
  </div>
</div>

<!-- Other Executives -->
<div class='ui padded container'>
  <div class="ui four stackable cards">
    <% for(var i=0; i<8; i++){ %>
    <div class="ui card">
      <div class="image">
        <img src="http://via.placeholder.com/290x290">
      </div>
      <div class="content">
        <a class="header">Prisca</a>
        <div class="meta">Secretary</div>
      </div>
      <div class="ui large teal bottom attached button">
        <i class="user icon"></i>
        View Profile
      </div>
    </div>
    <% } %>
  </div>
</div>


<div class="ui horizontal container divider" style='margin: 40px'>
  <h2 class="ui center aligned  header">
    Members
  </h2>
</div>

<!-- Members -->
<div class='ui padded container'>
  <div class="ui five stackable cards">
    <% for(var i=0; i<8; i++){ %>
    <div class="ui card">
      <div class="image">
        <img src="http://via.placeholder.com/290x290">
      </div>
      <div class="content">
        <a class="header">Prisca</a>
      </div>
      <div class="ui large teal bottom attached button">
        <i class="user icon"></i>
        View Profile
      </div>
    </div>
    <% } %>
  </div>
</div>

