<% include ./partials/header %>
<div class="login register">
    <div class="ui raised segment">
        <form class="ui form login" action="/passwordReset" method="POST">
            <h2 class="form-title">Password Reset</h2>
            <div class="field">
                <label>Email</label>
                <input type="text" name="email" placeholder="Enter the email you signed up with">
            </div>
            <input class="ui button login" type="submit" value="Reset Password">
            <div class="ui error message"></div>
        </form>
    </div>
</div>

<script src='/js/passwordReset.js'></script>

<% include ./partials/footer %>