.ui.form {
    background: none;
    color: #000;
    width: 100%;
}

.ui.dropdown {
    display: inline-block;
}

.ui.container{
    max-width: 850px !important;
}

select.ui.dropdown {
    height: 100% !important;
}

.column.header {
    padding: 25px 0 !important;
}

@media only screen and (max-width: 767px){
    .ui.three.column.stackable.grid>.column.header {
        margin-top: 30px !important;
        padding-top: 0 !important;
    }
}
