<% include ./partials/header %>
<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">
<link rel="stylesheet" type="text/css" href='/stylesheets/notFound.css'>

<div class="not-found-section">
  <h1>404</h1>
  <p>Page not found</p>
  <p>Click <a href='/'>here</a> to go back to the home page</p>
</div>