<% include ./partials/header %>
<div class="login register">
  <div class="ui raised segment">
    <form class="ui form login" action="/auth/passwordreset/<%= token %>" method="POST">
      <h2 class="form-title">Create a new password</h2>
      <div class="field">
        <label>Password</label>
        <input
          type="password"
          name="password"
          id='password'
          placeholder="Password"
        />
      </div>
      <div class="field">
        <label>Re-enter Password</label>
        <input
          type="password"
          name="confirmPassword"
          id='confirmPassword'
          placeholder="Re-enter Password"
        />
      </div>
      <input class="ui button login" type="submit" value="Login">
      <div class="ui error message"></div>
    </form>
  </div>
</div>

<script src='/js/reset.js'></script>

<% include ./partials/footer %>