.ui.form {
    background: none;
    color: #000;
    width: 100%;
}

.ui.dropdown {
    display: inline-block;
}

.ui.container{
    max-width: 600px !important;
}

select.ui.dropdown {
    height: 100% !important;
}

.column.header {
    padding: 25px 0 !important;
}

.ui.two.column.stackable.grid {
    margin-left: 25px;
}

.ui.medium.list>.item>.ui.dividing.header {
    margin: 15px 0;
}

.ui.column.capitalize.transparent.input{
    padding-top: 23px;
}

.ui.button.primary {
    background-color: teal;
    color: white;
}

@media only screen and (max-width: 767px){
    .ui.two.column.stackable.grid>.column.capitalize {
        margin-bottom: 25px !important;
        padding-top: 0 !important;
    }
}
