.container>.ui.list>.item {
  margin-bottom: 35px;
}

.container>.ui.list>.item>.ui.grid>.column {
  padding: 0px !important;
  overflow-wrap: break-word;
}

.ui.text.container {
  max-width: 900px!important;
}