.container>.ui.list>.item {
  margin-bottom: 35px;
}

.container>.ui.list>.item>.ui.grid>.column {
  padding: 0px !important;
  overflow-wrap: break-word;
}

.ui.text.container {
  max-width: 900px!important;
}

.ui.two.column.grid {
  margin-left: 0 !important;
}

@media only screen and (max-width: 767px) {
  .ui.text.container {
    font-size: 1rem !important;
    padding: 3em 1.5em !important;
  }

  .ui.labeled.basic.icon.button {
    padding-left: 3em !important;
  }
}